.trainingList {

    .row
    {
        text-align: center;
    }

    .loadingResults{
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;

        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .resultNav
    {
        width: 100%;
        max-width: 600px;
        margin:auto;
        margin-top: 20px;
        text-align: center;
        font-size: 20px;

        .btn
        {
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            color: #000;
            margin-top: 6px;
            width: 40px;
            height: 40px;
            padding-top: 9px;
        }

        .left
        {
            padding-left: 11px;
        }

        .right
        {            
            padding-right: 9px;
        }

    }

    .activeFilters
    {
        width: 100%;
        max-width: 600px;
        margin:auto;
        border: 1px solid #E0E0E0;
        height: 56px;
        background: #fff;

        .left
        {
            float:left;
            width: 10%;
            padding-left: 5px;
        }

        .inputText
        {
            float:left;
            width: 70%;
        }

        .fa-icon
        {
            font-size: 22px;
            padding-top: 10px;
        }
        .right
        {
            float: right;
            color: #000;
            background: #E0E0E0;
            height: 54px;
            width: 20%;
            text-align: center;
        }
        input
        {
            height: 53px;
            border:none;
            width:100%;

        }
        input:focus
        {
            outline: none;
        }

        

    }

}