.trainingList {

    .row
    {
        text-align: center;
    }

    .loadingResults{
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;

        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .activeFilters
    {
        width: 100%;
        max-width: 600px;
        margin:auto;
        border: 1px solid #E0E0E0;
        height: 56px;

        .left
        {
            float:left;
            width: 10%;
            padding-left: 3px;
        }

        .inputText
        {
            float:left;
            width: 70%;
        }

        .fa-icon
        {
            font-size: 22px;
            padding-top: 10px;
        }
        .right
        {
            float: right;
            color: #000;
            background: #E0E0E0;
            height: 54px;
            width: 20%;
            text-align: center;
        }
        input
        {
            height: 53px;
            border:none;
            width:100%;

        }
        input:focus
        {
            outline: none;
        }

        

    }

}